---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1><strong>Film to phone</strong></h1>
<img class="camera-img" alt="Polaroid camera" src="/images/camera.png" />
<h2><strong>Any cloud, anytime.</strong></h2>
<p>With Polaroid Cloud, you can sync your photos to your favorite cloud service while still enjoying 
the instant printing you've come to expect from Polaroid. Using our special instant photo paper, your image 
is uploaded to the web and a QR code is generated and printed with the instant photo. Perfect for sharing 
with your friends and family.</p>
<h2><strong>Easy, cheesy!</strong></h2>
<div class="features">
    <div class="feature">
        <img alt="WiFi icon" src="/images/wifi.png" />
        <p>Connect your Polaroid to a WiFi network</p>
    </div>
    <div class="feature">
        <img alt="Cloud Upload icon" src="/images/cloud.png" />
        <p>Configure your favorite cloud</p>
    </div>
    <div class="feature">
        <img alt="QR code icon" src="/images/qr.png" />
        <p>Point, shoot, and print your QR-tagged photo</p>
    </div>
    <div class="feature">
        <img alt="Photo icon" src="/images/photo.png" />
        <p>Share your physical and digital photos with friends and family</p>
    </div>
</div>
<h2><strong>Be the first to know.</strong></h2>
<div class="updates">
    <form class="email-form">
        <input type="text" id="email" name="email" placeholder="Enter your email address to receive updates">
    </form>
    <a class="email-button"><strong>Keep in touch</strong></a>
</div>