body {
    font-family: Helvetica, sans-serif;
    color: #424242;
    background: #e9e9e9;
    padding: 0 40px;
    text-align: center;
}

nav {
    display: flex;
}

h1 {
    margin: 0px;
    font-size: 8em;
    letter-spacing: -2px;
}

h1 strong {
    text-transform: uppercase;
}

h2 strong {
    font-size: 1.5em;
    letter-spacing: -1px;
}

a strong {
    text-transform: uppercase;
}

strong {
    font-weight: bolder;
}

p {
    font-size: 1.5em;
    text-align: left;
}

img.about {
    opacity: 0.5;
}

.camera-img {
    width: 80%;
}

.features {
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.feature {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.feature img{
    aspect-ratio: 1;
    margin-right: 2%;
}

.updates {
    background-color: #dddedd;
    border-radius: 10px;
    width: 80%;
    margin-left: 10%;
    padding: 3%;
    display: flex;
    justify-content: space-evenly;
}

input {
    height: 50px;
    width: 100%;
}

.email-form {
    width: 70%;
}

.email-button {
    color: #ffffff;
    background-color: #ff3f3c;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
}